body {
  background-color: #FCC2AC;
}

.sopa-header {
  background-color: #972a2d;
}

.masterhead {
  min-height: 300px;
  border-radius: 0px !important;
}

.masterhead .masterhead-logo {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax {
  border-radius: 5px;
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu .category .header {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.menu .category.header {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 50px;
}
